In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import date

In [3]:
f_b = pd.read_excel (r"C:\Users\SURFACE\Downloads\Data\Data\failed_banks.xlsx")
f_b

,CERT,Bank Name,City,ST,Acquiring Institution,Closing Date
0,14361,The First State Bank,Barboursville,WV,"MVB Bank, Inc.",2020-04-03
1,18265,Ericson State Bank,Ericson,NE,Farmers and Merchants Bank,2020-02-14
2,21111,City National Bank of New Jersey,Newark,NJ,Industrial Bank,2019-11-01
3,58317,Resolute Bank,Maumee,OH,Buckeye State Bank,2019-10-25
4,58112,Louisa Community Bank,Louisa,KY,Kentucky Farmers Bank Corporation,2019-10-25
...,...,...,...,...,...,...
556,32646,"Superior Bank, FSB",Hinsdale,IL,"Superior Federal, FSB",2001-07-27
557,6629,Malta National Bank,Malta,OH,North Valley Bank,2001-05-03
558,34264,First Alliance Bank & Trust Co.,Manchester,NH,Southern New Hampshire Bank & Trust,2001-02-02
559,3815,National State Bank of Metropolis,Metropolis,IL,Banterra Bank of Marion,2000-12-14
560,21029,Bank of Honolulu,Honolulu,HI,Bank of the Orient,2000-10-13

In [4]:
f_b.head()

,CERT,Bank Name,City,ST,Acquiring Institution,Closing Date
0,14361,The First State Bank,Barboursville,WV,"MVB Bank, Inc.",2020-04-03
1,18265,Ericson State Bank,Ericson,NE,Farmers and Merchants Bank,2020-02-14
2,21111,City National Bank of New Jersey,Newark,NJ,Industrial Bank,2019-11-01
3,58317,Resolute Bank,Maumee,OH,Buckeye State Bank,2019-10-25
4,58112,Louisa Community Bank,Louisa,KY,Kentucky Farmers Bank Corporation,2019-10-25

In [5]:
f_b.dtypes

CERT                              int64
Bank Name                        object
City                             object
ST                               object
Acquiring Institution            object
Closing Date             datetime64[ns]
dtype: object

In [6]:
x = y = z = "Strawbarry"
print(x)
print(y)
print(z)

Strawbarry
Strawbarry
Strawbarry

In [7]:
x,y,z = "Orange","Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry